# Pythonのバイトコードファイル
*.pyc
__pycache__/

# 仮想環境
venv/
env/

# ログファイル
*.log

# テストのキャッシュ
*.coverage
nosetests.xml
coverage.xml
*.cover
*.py,cover

# IDEの設定ファイル
.vscode/
.idea/

# ページのハッシュファイル
page_hash.txt

.env